

.meal-log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.meal-log-container button {
  background-color: #4caf50;
}
.meal-log-container button:hover {
  background-color: #45a049;
}
  
  .meal-log-list {
    margin-top: 1rem;
  }
  
  .meal-log-items {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .meal-log-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    width: 40rem;
  }
  
  .meal-log-category {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .meal-log-calories {
    margin-bottom: 0.5rem;
  }
  
  .meal-log-servings {
    margin-bottom: 0.5rem;
  }
  
  .meal-log-container a {
    height: 100%;
  }
  .edit-button {
   
    background-color: #4caf50;
    color: #fff;
    border: none;
    /* padding: 0.5rem 1rem; */
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .modal-button {
    margin-top: 1rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-button:hover {
    background-color: #b02c3b;
  }
  
  .errors {
    color: red;
  }

  .action-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 40%;
    
  }

  .action-container button{
  height:  100%;
  width: 100%;
  }
  
  .action-div{

  }