.pet-profiles {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    height:100% ;
    
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height:30rem;
    overflow: hidden;
  }
  
  .profile-info {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
align-items: center; 
 }
  
  .profile-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .profile-info-label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .profile-actions button {
    margin-right: 0.5rem;
    /* height: 4rem;
    width: 4rem; */
  }
  
  
  /* Additional styles as needed */
  
  .action-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:  2px solid red; */
    height: 3.5rem;
    width: 5rem;
    margin: 5px;
  }

  .action-button {
    width: 100%;
    height: 100%;
  }

  .modal-button {
    height: 100%;
  }

  .profile-image {
    border-radius: 50%;
  }