.signup-form{
    max-width: 400px;
    margin: 0 auto;
    /* background-color: blue; */
}
.signup-form li{
  list-style: none;
  color: red;
}
.signup-form h1 {
  display: flex;
  justify-content: center;
}
.signup-form form{
    display: flex;
    flex-direction: column;
}

.signup-form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
}

.signup-form .errors{
    color: red;
    margin-top: 5px;
}

.signup-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  .signup-form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .signup-form label {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }
